<!DOCTYPE html>
<html lang="ru">
  <head>
    {{> head}}
  </head>
  <body>
    <div class="shell">
      <div class="topbar">
        <span class="brand">{{title}}</span>
        <nav class="nav"><a href="/">API</a></nav>
      </div>
      <div class="panel">
        {{#if error}}
          <div class="alert">Неверный логин или пароль.</div>
        {{/if}}
        <form class="form-grid" method="post" action="/login" autocomplete="on">
          <label>
            Логин
            <input type="text" name="login" required maxlength="128" />
          </label>
          <label>
            Пароль
            <input type="password" name="password" required autocomplete="current-password" />
          </label>
          <button class="btn btn-primary" type="submit">Войти</button>
        </form>
      </div>
    </div>
  </body>
</html>
